doctype html
html(lang='fr')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title Jeux Muti Joueurs
    script(type='text/javascript', src='/socket.io/socket.io.js')
    script(type='text/javascript', src='/js/front.js')
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')

  body
    #container
      #sidebar
        ul#myList
        h2 Nombre de Connectés
        #nombre_client
        h2 Les meilleurs scores
        #top_score
        h2 Mon score
        #score
      #bobo
        #game
