doctype html
html(lang='fr')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    title Inscription
    // Bootstrap Core CSS
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', rel='stylesheet')

  body
    .container
      .col-sm-8
        h2.bg-danger= response
        form.form-horizontal(method='POST', action='/inscription')
          fieldset
          // Form Name
          legend Formulaire d'inscription au Jeux
          // Text input
          .form-group
            label.col-md-4.control-label(for='textinput') Login
            .col-md-4
              input#textinput.form-control.input-md(name='login', type='text', placeholder='Login')
          // Password input
          .form-group
            label.col-md-4.control-label(for='passwordinput') Mot de passe
            .col-md-4
              input#passwordinput.form-control.input-md(name='motdepasse', type='password', placeholder='mot de passe')
          // Button
          .form-group
            label.col-md-4.control-label(for='singlebutton')
            .col-md-4
              button#singlebutton.btn.btn-primary(name='singlebutton') Envoyer
